<% @objects.each do |object| %>
	<div class="box" style="background: url(<%=	object['Poster'] %>)">
		<ul>
			<li><%=	 object['Title'] %></li>
			<li><%=	 object['Actors'] %></li>
			<li><%=	 object['Year'] %></li>
			<li><%=	 object['Rated'] %></li>
			<li><%=	 object['Genre'] %></li>
			<li><%=	 object['Runtime'] %></li>
		</ul>
	</div>
<% end %>

