<% @movies.each do |movie| %>
	<%= image_tag movie.poster %>
	<ul>
		<li><%= movie.name %></li>
		<li><%= movie.gross %></li>
		<li><%= movie.actors %></li>
		<li><%= link_to "Delete Movie", delete_movie_path(movie), :method => :delete %></li> <!-- the method delete tells it instead of send a delete send it a get and then it will delete it -->
	</ul>
<% end %>	